$white: #ffffff;

$gray: #C5BBBB;
$light-gray: #eee;

$anthracite: #5D5D5D;

$darker-turquois: #0591A2;
$turquois: #41B6C4;
$lighter-turquois: #ABE3EA;
$lightest-turquois: #CCF6FF;

$light-orange: #ffd7ab;
$light-red: #ffafbd;
