$white: #ffffff;

$gray: #888;
$light-gray: #eee;

$anthracite: #5D5D5D;

$pink: #e10040;

$dark-blue: #253494;
$blue: #2C7FB8;
$green: #A1DAB4;
$yellow: #FFFFCC;

$darker-turquois: #0591A2;
$turquois: #41B6C4;
$lighter-turquois: #ABE3EA;
$lightest-turquois: #CCF6FF;

$light-orange: #ffd7ab;
$light-red: #ffafbd;
