.countdown {
  position: relative;
  overflow: hidden;

  height: 100%;
  display: flex;
  flex-direction: column;

  &::before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
  }

  &--start-animation {
      &::before {
        animation: 5s linear countdown-get-ready, 60s linear 5s countdown;
        animation-fill-mode: forwards;
      }
  }
}

.countdown__chords {
  position: relative;
  flex: 1 0 65%;

  display: flex;
  flex-direction: row;
  align-items: center;

  .chord {
    flex: 1 0 50%;
  }
}

.countdown__info {
  position: relative;
  flex: 1 0 35%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 5rem;
  font-weight: bold;
}


.countdown__time {
  display: block;
  width: 5rem;
}

.countdown__result {
  font-size: 2rem;
  max-width: 10rem;
  text-align: center;

  option {
    padding: 0.4rem 1rem;
  }
}

.countdown__icon {
  margin: 0 1.5rem;
  cursor: pointer;
}


@media screen and (orientation: landscape) {
  .countdown {
    flex-direction: row;
  }
  .countdown__chords {
    flex-direction: row;
  }
  .countdown__info {
    flex-direction: column;
  }
  .countdown__icon {
    margin: 0.5rem 0;
  }
}



@keyframes countdown-get-ready {
  from {
    width: 100%;
    background-color: #444;
  }
  to {
    width: 0%;
    background-color: #ccc;
  }
}

@keyframes countdown {
  0% {
    width: 0%;
    background-color: $yellow;
  }
  100% {
    width: 100%;
    background-color: $pink;
  }
}
