
.feeds, .feeds-add {
  font-size: 1.5rem;
}

.feed {
  display: flex;
  justify-content: space-between;

  height: $pair-height;
  line-height: $pair-height;

  font-weight: $font-weight-bold;
  text-align: center;

  cursor: pointer;
}

.feed__start {
  flex: 0 0 33.333%;
  background-color: $lighter-turquois;
}

.feed__side {
  flex: 1 0 auto;
  background-color: $lightest-turquois;

  &--L   { background-color: $light-orange; }
  &--R   { background-color: $light-red; }
  &--Zzz { background-color: $gray; }
}

.feed__duration {
  flex: 0 0 33.333%;
  background-color: $turquois;
}

.feeds-add {
  display: flex;
  justify-content: space-between;

  height: $pair-height;
  line-height: $pair-height;

  font-weight: $font-weight-bold;
  text-align: center;

  cursor: pointer;
}

.feeds-add__start {
  flex: 1 1 50%;
  &--L   { background-color: $light-orange; }
  &--R   { background-color: $light-red; }
  &--Zzz { background-color: $gray; }
}

.pair__chords {
  position: sticky;
  left: 0;
  display: flex;


  justify-content: space-around;
  align-items: stretch;
}

.pair__chord {
  flex: 1 0 auto;

  background-color: $turquois;
}

.pair__add {
  flex: 1 0 auto;
  background-color: $light-gray;
}

.pair__records {
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;

  background-color: $green;
}

.pair__record {
  width: 4rem;
  -moz-user-select: none;
  -webkit-user-select: none;

  &--add {
    font-size: 1em;
  }
}


.columns-container {
  display: flex;
}

.columns-container--select-chords {
  height: 100%;
}
