
.feeds, .feeds-add {
  font-weight: $font-weight-bold;
  font-size: 1.5rem;
}

.feeds__separator {
  background-color: $light-gray;
  color: $black;
  font-size: 1.2rem;
  height: $menu-height;
  line-height: $menu-height - 0.3rem;
  padding: 0.2rem 0.6rem;
}

.feed {
  display: flex;
  justify-content: space-between;

  height: $pair-height;
  line-height: $pair-height;

  text-align: center;

  cursor: pointer;
}

.feed__start {
  flex: 0 0 33.333%;
  background-color: $lighter-turquois;
}

.feed__side {
  flex: 1 0 auto;
  background-color: $lightest-turquois;

  &--L   { background-color: $light-orange; }
  &--R   { background-color: $light-red; }
  &--Zzz { background-color: $gray; }
}

.feed__duration {
  flex: 0 0 33.333%;
  background-color: $turquois;
}

.feeds-add {
  display: flex;
  justify-content: space-between;

  height: $pair-height;
  line-height: $pair-height;

  font-weight: $font-weight-bold;
  text-align: center;

  cursor: pointer;
}

.feeds-add__start {
  flex: 1 1 50%;
  &--L   { background-color: $light-orange; }
  &--R   { background-color: $light-red; }
  &--Zzz { background-color: $gray; }
}


.columns-container {
  display: flex;
}

.columns-container--select-chords {
  height: 100%;
}
