.feeding {
  position: relative;
  overflow: hidden;

  height: 100%;
  display: flex;
  flex-direction: column;
  // align-items: center;

  font-size: 3rem;
  font-weight: bold;

}

.feeding__side {
  text-align: center;
  font-size: 5rem;

  &--L { background-color: $light-orange; }
  &--R { background-color: $light-red; }
}

.feeding__start-time, .feeding__end-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  justify-content: space-around;
}

.feeding__start-time {
  background-color: $lighter-turquois;
}

.feeding__end-time {
  background-color: $darker-turquois;
}

.feeding__duration {
  background-color: $turquois;
  text-align: center;
  font-size: 8rem;
}

.feeding__result {
  font-size: 2rem;
  max-width: 10rem;
  text-align: center;

  option {
    padding: 0.4rem 1rem;
  }
}

.feeding__icons {
  background-color: $anthracite;
  color: $light-gray;
  display: flex;
  justify-content: space-around;
  flex: 1 0 auto;
  align-items: center;

  font-size: 5rem;
}

.feeding__icon {
  text-align: center;
  cursor: pointer;
}


@media screen and (orientation: landscape) {
  .countdown {
    flex-direction: row;
  }
  .feeding__chords {
    flex-direction: row;
  }
  .feeding__info {
    flex-direction: column;
  }
  .feeding__icon {
    margin: 0.5rem 0;
  }
}



@keyframes countdown-get-ready {
  from {
    width: 100%;
    background-color: #444;
  }
  to {
    width: 0%;
    background-color: #ccc;
  }
}

@keyframes countdown {
  0% {
    width: 0%;
    background-color: $yellow;
  }
  100% {
    width: 100%;
    background-color: $pink;
  }
}
