.menu {
  position: fixed;
  z-index: $z-index-menu;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background: $anthracite;
  color: $light-gray;
  font-size: 1.2rem;
  height: $menu-height;
  font-weight: bold;
  padding: 0.2rem 1rem 0.2rem 0.6rem;
  box-shadow: 0px 1px 10px -2px $black;
}

.menu__title {
  flex: 1 0 auto;
  cursor: default;
  text-transform: capitalize;
}

.menu__nav {
  // display: none;
  position: absolute;
  right: 0;
  top: $menu-height;
  padding: 0.2rem 0;
  background: $anthracite;

  transition: transform 0.2s ease-in-out;
  transform: translateX(100%);

  &--open {
    transform: translateX(0%);
  }
}

.menu__toggle {
  cursor: pointer;
}

[data-cursor='pointer'] {
  cursor: pointer;
}

.menu__item {
  padding: 0.3rem 1rem 0.3rem 0.5rem;
  display: flex;
  align-items: center;

  > i {
    flex: 0 0 auto;
    min-width: 2.5rem;
    text-align: center;
  }

  > span {
    flex: 0 0 auto;
  }
}
