@import 'reset';

@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-flex-grid;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;

//@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

@import 'typography';

$gray: #888;
$light-gray: #eee;
$light-blue: #9ce7ff;
$rose: #f2c6ff;

body {
  background: white;

}

.pairs {

//  overflow-x: scroll;
//  overflow-y: visible;

}

.pair {
  display: flex;

  height: 3rem;
  line-height: 3rem;

  font-weight: $font-weight-bold;
  text-align: center;
}

.pair__add {
  position: sticky;
  left: 0;
  width: 6rem;
  background-color: $light-gray;
}

.pair__chords {
  position: sticky;
  left: 0;
  display: flex;

  justify-content: space-around;
  align-items: stretch;

  background: $light-blue;
}

.pair__chord {
  width: 3rem;
  height: 3rem;
}

.pair__records {
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;

  background-color: $rose;
}

.pair__record {
  width: 3rem;
  height: 3rem;


}
