@import 'reset';

@import '../node_modules/foundation-sites/scss/foundation';

@include foundation-flex-grid;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;

//@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

@import 'typography';

$z-index-menu: 10;

$gray: #888;
$light-gray: #eee;
$light-blue: #9ce7ff;
$rose: #f2c6ff;

$menu-height: 2rem;
$pair-height: 3rem;

body {
  background: white;
  padding-top: $menu-height;
}

.menu {
  position: fixed;
  z-index: $z-index-menu;
  top: 0;
  width: 100%;
  display: flex;
  background: $light-gray;
}

.menu__item {
  height: $menu-height;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
}

.menu__item--title {
  flex: 1 0 auto;
  font-weight: bold;
  cursor: default;
}

.pairs {
}

.pair {
  display: flex;

  height: $pair-height;
  line-height: $pair-height;

  font-weight: $font-weight-bold;
  text-align: center;
}

.pair__chords {
  position: sticky;
  left: 0;
  display: flex;

  flex: 0 0 8rem;

  justify-content: space-around;
  align-items: stretch;

  background: $light-blue;
}

.pair__chord {
  flex: 1 0 auto;
}

.pair__add {
  flex: 1 0 auto;
  background-color: $light-gray;
}

.pair__records {
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;

  background-color: $rose;
}

.pair__record {
  width: 3rem;

  &--add {
    cursor: pointer;
    font-size: 1em;
  }
}

.columns-container {
  display: flex;
}

.columns-container--select-chords {
  height: 100%;
}


.chords-column {
  flex: 1 0 50%;

  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.chord {
  flex: 0 0 6rem;
  text-align: center;
  line-height: 6rem;
  font-size: 8vw;
  font-weight: $font-weight-bold;

  .columns-container--select-chords &--selected {
    background-color: $light-blue;
  }

  .columns-container--select-chords &:hover {
    background-color: $rose;
  }
}

.pair-record {
  position: relative;
  overflow: hidden;

  height: 100%;
  display: flex;
  flex-direction: column;

  &::before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;

    animation: 5s linear record-pair-before-start, 60s linear 5s record-pair-countdown;
    animation-fill-mode: forwards;
  }
}

.pair-record__chords {
  position: relative;
}

.pair-record__info {
  position: relative;
  flex: 1 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pair-record__time {
  font-size: 16vw;
  font-weight: bold;
}

@keyframes record-pair-before-start {
  from {
    width: 100%;
    background-color: #444;
  }
  to {
    width: 0%;
    background-color: #ccc;
  }
}

@keyframes record-pair-countdown {
  0% {
    width: 0%;
    background-color: yellow;
  }
  100% {
    width: 100%;
    background-color: red;
  }
}
